.globeCanvas {
  transition: all 500ms ease-in-out;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 120px;
  height: 120px;
  max-width: 100%;
  z-index: 2000;
  transform: rotate(10deg);
  filter: opacity(0);
  opacity: 0;
}

.chatBotIcon {
  z-index: 2000;
  position: absolute;
  right: 35px;
  bottom: 117px;
  color: rgba(125, 125, 125, 1);
  filter: opacity(0);
  opacity: 0;
}

.visible {
  filter: opacity(1);
  opacity: 1;
}

.loadInAnimation {
  animation: loadIn 1s ease forwards;
  animation-delay: 3s;
}

@keyframes loadIn {
  0% {
    filter: blur(15px);
    opacity: 0;
  }
  50% {
    filter: blur(8px);
    opacity: 0.5;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.moveRight {
  right: 29px;
}

.chatBotTitle {
  z-index: 1900;
  position: absolute;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px;
  padding-left: 12px;
  font-weight: 700;
  width: 100%;
  background: light-dark(
    linear-gradient(0deg, #e9ecef 0%, #fff 100%),
    linear-gradient(0deg, #0b0c0d 0%, #16181a 100%)
  );
  box-shadow: light-dark(
    0px 10px 15px rgba(0, 0, 0, 0.1),
    0px 10px 15px rgba(255, 255, 255, 0.02)
  );
}

.chatBotTitle::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -30px;
  left: 0;
  width: 20px;
  height: 30px;
  border-top-left-radius: 10px;
  box-shadow: 0 -10px 0 0 light-dark(rgba(233, 242, 248, 1), rgba(12, 13, 14, 1));
}

.chatBotTitle::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -30px;
  right: 0;
  width: 20px;
  height: 30px;
  border-top-right-radius: 10px;
  box-shadow: 0 -10px 0 0 light-dark(rgba(233, 242, 248, 1), rgba(12, 13, 14, 1));
}

.chatBotCloseBtn {
  color: light-dark(rgba(12, 13, 14, 1), rgba(248, 249, 250, 1));
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.chatBotMain {
  height: 100%;
  padding: 10px 15px;
  padding-top: 55px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.chatBotModal,
.chatBotTextDialog {
  z-index: 2000;
  overflow: hidden;
}

.chatBotModal {
  background-color: light-dark(rgba(248, 249, 250, 0.9), rgba(12, 13, 14, 0.9));
  border-bottom: 1px solid
    light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.02));
}

.chatBotTextDialog {
  background-color: light-dark(rgba(248, 249, 250, 0.5), rgba(12, 13, 14, 0.5));
}

.chatBotTextInput {
  min-height: 135px;
  padding: 15px;
  width: 450px;
  margin-right: 140px;
  background-color: light-dark(
    rgba(248, 249, 250, 0.95),
    rgba(12, 13, 14, 0.95)
  );
}
