.toggleColorButton {
  background-color: light-dark(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
  color: light-dark(#fff, #000);
  position: relative;
  width: 38px;
  margin: 10px;
}

.introTitle {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  line-height: 1;
}

.infoButton {
  text-transform: uppercase;
}

.infoIcon {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.darkIcon,
.lightIcon {
  position: absolute;
  left: 0px;
  margin-left: -1px;
  opacity: 0;
  width: 38px;
}

.lightIcon {
  @mixin light {
    opacity: 1;
  }
}

.darkIcon {
  @mixin dark {
    opacity: 1;
  }
}
