@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";

body {
  background-color: light-dark(#f8f9fa, #0b0c0d);
  height: 100%;
  overflow: hidden;
}

.mantine-Input-input,
input {
  outline: none;
  border: none;
  background: light-dark(rgb(255, 255, 255), rgb(10, 11, 12));
  box-shadow: 0px 2px 5px light-dark(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));

  &:focus {
    outline: none;
    border: none;
  }
}

.mantine-Notifications-root {
  background-color: light-dark(#fff, #2e2e2e);
}

.pagePanel {
  background: light-dark(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
  border-radius: 3;
}

.toolTip {
  background: light-dark(#fff, #141517);
  color: light-dark(#141517, #fff);
  border: 1px solid light-dark(#ececec, #1c1c1c);
}

.duffel-components .card-details {
  background-color: light-dark(rgba(248, 249, 250, 0.9), #c2c3c6);
  border: 1px solid
    light-dark(rgba(100, 100, 100, 0.1), rgba(204, 204, 204, 0.07));
  border-radius: 3px;
  outline: none;
}

.duffel-components button {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  background: light-dark(#2dc7f3, #0d3f82);
}

.loadingOverlayDefault {
  background: light-dark(#f8f9fa, #0b0c0d);
}

.loadingOverlayDefaultLoader {
  color: light-dark(#2dc7f3, #0d3f82);
}

.carouselItem {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1500ms ease, visibility 1500ms ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carouselItemVisible {
  opacity: 1;
  visibility: visible;
}
