.placeTitle {
  font-size: 0.8rem;
  text-shadow: 0 4px 7px light-dark(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
  text-transform: uppercase;
}

button.placeBtns {
  box-shadow: 0px 2px 3px
    light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.01));
  border-radius: 3px;
}

button.locationBtn {
  position: absolute;
  top: 120px;
  padding: 0 8px;
  z-index: 120;
  opacity: 1;
  border-radius: 0 3px 3px 0;
  background-color: light-dark(
    rgba(248, 249, 250, 0.95),
    rgba(12, 13, 14, 0.95)
  );
  border-top: 1px solid
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.02));
  border-right: 1px solid
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.02));
  border-bottom: 1px solid
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.02));
  &:hover {
    padding-left: 12px;
  }
}

button.locationBtn {
  position: absolute;
  padding: 0 8px;
  top: 92px;
  z-index: 120;
  opacity: 1;
  border-radius: 0 3px 3px 0;
  background-color: light-dark(
    rgba(248, 249, 250, 0.95),
    rgba(12, 13, 14, 0.95)
  );
  right: 390px;
  font-weight: 100;
  background: light-dark(rgba(248, 249, 250, 1), rgba(12, 13, 14, 1));
  color: light-dark(rgba(14, 15, 18, 0.5), rgba(248, 249, 250, 0.5));
  border-left: 1px solid
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.02));
  border-right: none;
  border-radius: 3px 0 0 3px;
  border-top: 1px solid
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.02));
  border-right: 1px solid
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.02));
  border-bottom: 1px solid
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.02));

  &:hover {
    background: light-dark(rgba(248, 249, 250, 1), rgba(14, 15, 18, 1));
    color: light-dark(rgba(14, 15, 18, 1), rgba(248, 249, 250, 1));
    padding-left: 12px;
    padding-left: 8px;
    padding-right: 12px;
  }
}

section.locationDrawer {
  pointer-events: none;
  box-shadow: none;
  min-height: 570px;
  overflow: hidden;
  background-color: light-dark(rgba(248, 249, 250, 0), rgba(12, 13, 14, 0));
}

section.locationDrawer > * {
  pointer-events: all;
}

a.topCitiesLink {
  transition: all 200ms ease-in-out;
  background: light-dark(rgba(248, 249, 250, 0.7), rgba(12, 13, 14, 0.7));

  &:hover {
    background: light-dark(rgba(248, 249, 250, 1), rgba(14, 15, 18, 1));
    transform: scale(1.05) translateX(7px);
  }
}

.select {
  border-radius: 0 0 3px 3px;
  outline: none;
  border: none;
  background: light-dark(rgba(248, 249, 250, 1), rgba(12, 13, 14, 1));
  color: light-dark(rgba(14, 15, 18, 0.5), rgba(248, 249, 250, 0.5));

  &::placeholder {
    color: light-dark(rgba(14, 15, 18, 0.5), rgba(248, 249, 250, 0.5));
  }
}

.selectOption {
  &:hover {
    color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
    font-weight: 700;
  }

  &[data-combobox-selected="true"] {
    box-shadow: 0 2px 5px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background-color: light-dark(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.5));
    color: light-dark(rgb(11, 12, 13), rgb(248, 249, 250));
  }
}

button.chooseLocationBox {
  border-radius: 3px;
  box-shadow: 0px 2px 3px
    light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.01));
}

button.locationBtns {
  font-weight: 100;
  background: light-dark(rgba(248, 249, 250, 1), rgba(12, 13, 14, 1));
  color: light-dark(rgba(14, 15, 18, 0.5), rgba(248, 249, 250, 0.5));

  &:hover {
    background: light-dark(rgba(248, 249, 250, 1), rgba(14, 15, 18, 1));
    color: light-dark(rgba(14, 15, 18, 1), rgba(248, 249, 250, 1));
  }
}

button.closeBtn {
  box-shadow: 0 2px 5px light-dark(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));
  transition: all 300ms ease;
  font-weight: 700;
  opacity: 0.9;
  color: #fff;
  background: light-dark(
    linear-gradient(0deg, #00e8fc 0%, #93f3fc 100%),
    linear-gradient(0deg, #00376b 0%, #004585 100%)
  );

  &:hover {
    opacity: 1;
    color: #fff;
    transform: scale(1.01);
    background: light-dark(
      linear-gradient(0deg, #02a3b2 0%, #4fc0ca 100%),
      linear-gradient(0deg, #012445 0%, #013260 100%)
    );
  }
}
