@import "@mantine/carousel/styles.css";

.control {
  transition: opacity 250ms ease;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  opacity: 0;
  width: 20px;

  &[data-inactive] {
    opacity: 0 !important;
    cursor: default;
  }
}

.root {
  overflow: hidden;

  &:hover {
    .control {
      opacity: 1;

      &:hover {
        transition: all 150ms ease;
        transform: scale(1.2);
      }
    }
  }
}

.carouselIcon {
  color: light-dark(white, black);
}

.indicator {
  background-color: light-dark(#fff, #000);
}
