.globeImg {
  z-index: 2100;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 120px;
  height: 120px;
  max-width: 100%;
  opacity: 0.75;
  transform: scale(1);

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}

.moveRight {
  right: 29px;
}

.chatBotTitle {
  z-index: 1900;
  position: absolute;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px;
  padding-left: 12px;
  font-weight: 700;
  width: 100%;
  background: light-dark(
    linear-gradient(0deg, #e9ecef 0%, #fff 100%),
    linear-gradient(0deg, #0b0c0d 0%, #16181a 100%)
  );
  box-shadow: light-dark(
    0px 10px 15px rgba(0, 0, 0, 0.1),
    0px 10px 15px rgba(255, 255, 255, 0.02)
  );
}

.chatBotTitle::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -30px;
  left: 0;
  width: 20px;
  height: 30px;
  border-top-left-radius: 10px;
  box-shadow: 0 -10px 0 0 light-dark(rgba(233, 242, 248, 1), rgba(12, 13, 14, 1));
}

.chatBotTitle::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -30px;
  right: 0;
  width: 20px;
  height: 30px;
  border-top-right-radius: 10px;
  box-shadow: 0 -10px 0 0 light-dark(rgba(233, 242, 248, 1), rgba(12, 13, 14, 1));
}

.chatBotCloseBtn {
  color: light-dark(rgba(12, 13, 14, 1), rgba(248, 249, 250, 1));
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.chatBotMain {
  height: 465px;
  padding: 10px 15px;
  padding-top: 55px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.chatBotTextFrame {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.03));
  background-color: light-dark(
    rgba(248, 249, 250, 0.95),
    rgba(12, 13, 14, 0.95)
  );
}

.chatBotText {
  margin-top: 5px;
  margin-left: 5px;
}

.chatBotModal {
  position: relative;
  overflow: hidden;
  background-color: light-dark(
    rgba(248, 249, 250, 0.9) !important,
    rgba(12, 13, 14, 0.97) !important
  );
}

.chatBotTextInput {
  height: 135px !important;
  padding: 15px;
  width: 400px;
  margin-right: 140px;
  background-color: light-dark(
    rgba(248, 249, 250, 0.95),
    rgba(12, 13, 14, 0.95)
  );
  border: 1px solid
    light-dark(
      rgba(0, 0, 0, 0.1) !important,
      rgba(255, 255, 255, 0.03) !important
    );
}

.chatBotLink {
  color: light-dark(rgb(24, 108, 166), rgb(65, 253, 255));
  padding: 2px 0;
  text-decoration: none;
}

.chatLinkFrame {
  color: light-dark(rgb(24, 108, 166), rgb(65, 253, 255));
}

.chatSendBtn {
  opacity: 1;
  box-shadow: 0px -4px 0px 0px light-dark(rgba(233, 242, 248, 1), rgba(12, 13, 14, 1));
  background-color: light-dark(
    rgba(255, 255, 255) !important,
    rgba(10, 10, 10) !important
  );

  &:hover {
    opacity: 0.8;
  }
}

.chatSendIcon {
  color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
}
