.tripCard {
  cursor: pointer;
  transition: all 250ms ease;
  transform: scale(0.98);
  filter: grayscale(100%) saturate(100%) brightness(100%);
  opacity: 0.7;

  &:hover {
    opacity: 1;
    filter: grayscale(0%);
    box-shadow: 0 2px 5px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    transform: scale(1);
  }
}
