.mainMenu {
  position: fixed;
  z-index: 1600;
  top: 0px;
  width: 100%;
  display: flex;
  padding: 15px 25px;
  margin: 0px;
  align-items: flex-start;
  justify-content: space-between;
  pointer-events: none;
}

.mainMenuBg {
  background: light-dark(
    linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #f8f9fa 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #0b0c0d 100%)
  );
}

h1.mainTitleThick {
  color: light-dark(var(--c-dark-3), var(--c-gray-0));
}

span.mainTitleThin {
  color: light-dark(var(--c-dark-9), var(--c-gray-5));
}

svg.darkIcon,
svg.lightIcon {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  width: 40px;
  padding-right: 4px;
}

svg.lightIcon {
  @mixin light {
    opacity: 1;
  }
}

svg.darkIcon {
  @mixin dark {
    opacity: 1;
  }
}

button.colorSchemeBtn,
button.mainMenuBtn {
  font-weight: 100;
  position: relative;
  color: light-dark(var(--c-dark-8), var(--c-gray-0));
}

button.logoutButton {
  opacity: 0.35;

  &:hover {
    background-color: inherit;
    opacity: 1;
  }
}
