.emptyListShare {
  color: light-dark(#2dc7f3, #0d3f82);
}

.avi {
  color: light-dark(var(--c-gray-1), var(--c-dark-5));
  box-shadow: 0 2px 4px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}

.tableFrame {
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid
    light-dark(rgba(25, 25, 25, 0.08), rgba(255, 255, 255, 0.02));
}

.table {
  --table-striped-color: light-dark(
    rgba(200, 200, 200, 0.15),
    rgba(255, 255, 255, 0.01)
  );
}

.divider {
  opacity: light-dark(0.1, 0.3);
  border-color: light-dark(var(--c-gray-8), var(--c-dark-3));
}

div.donationsShadow {
  opacity: light-dark(0.2, 0.08);
}
