.editTripModalHeader,
.altModalHeader {
  background-color: transparent;
}

.editTripModalContent,
.altModalContent {
  background-color: light-dark(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.9));
}

.editTripModalOverlay,
.altModalModalOverlay {
  backdrop-filter: blur(9px);
}

.dateInput {
  cursor: pointer;
}

input.updateInputTitle {
  background: light-dark(#e9ecef, #0b0c0d);
  box-shadow: 0px 2px 5px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  &::placeholder {
    font-weight: 700;
    font-style: italic;
    color: light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  }
}

div.textEditor {
  transition: border-top 0.2s ease;
  border: none;
  width: 100%;
  min-width: 500px;
  box-shadow: 0px 2px 5px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}

.textEditorToolbar {
  border-color: rgba(255, 255, 255, 0);
  background: light-dark(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7));
}

.textEditorContent {
  background: rgba(0, 0, 0, 0);
  min-height: 250px;
  color: light-dark(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.textEditorContent > div {
  /* ProseMirror */
  padding-left: 21px;
  padding-right: 21px;
  min-height: 250px;
}

.donationInput {
  border: none;
  outline: none;
  text-align: right;
  font-weight: 700;
}

.donationCheck {
  &:focus {
    border: 1px solid
      light-dark(rgba(12, 13, 14, 0.2), rgba(234, 237, 240, 0.2));
    background-color: light-dark(
      rgba(12, 13, 14, 0.1),
      rgba(234, 237, 240, 0.1)
    );
  }
}

div.textEditorTypographyStylesProvider {
  padding: 0;
  margin: 0;
}
