button.shareButton {
  color: light-dark(#313132, #f8f9fa);
  background: rgba(0, 0, 0, 0);
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.shareButtonGroup {
  width: 688px;
  overflow: hidden;
  border-radius: 50;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
  background: light-dark(
    linear-gradient(0deg, #d7d7d8 0%, #fff 100%),
    linear-gradient(0deg, #050506 0%, #000 100%)
  );
}
