.toolTip {
  background: light-dark(#fff, #141517);
  color: light-dark(#141517, #fff);
  border: 1px solid light-dark(#ececec, #1c1c1c);
}

.updateModalButton {
  background: light-dark(
    linear-gradient(0deg, #d7d7d8 0%, #fff 100%),
    linear-gradient(0deg, #000 0%, #020202 100%)
  ) !important;
  color: light-dark(#000000, #f8f9fa) !important;
  opacity: 0.7;
  border: none !important;
  &:hover {
    opacity: 1;
  }
}

.infoPanel .funds {
  color: light-dark(#2dc7f3, #104e8e);
}

.infoPanel .divider {
  color: light-dark(#0b0c0d, #495057);
}

.infoPanel .costsSum {
  color: light-dark(#868e96, #fff);
}

.infoPanel .dollarSign {
  opacity: light-dark(0.8, 0.2);
}

.infoPanel .daysLeftWrapper {
  box-shadow: inset 0px 2px 6px
    light-dark(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.6));
}

.infoPanel .daysLeft {
  color: light-dark(#ced4da, #373a40);
}

.progress {
  background: light-dark(#94d82d, #2b8a3e) !important;
}

.infoPanel .useFundsBtn {
  color: #f8f9fa;
  background: light-dark(
    linear-gradient(0deg, #2dc7f3 0%, #33d9f8 100%),
    linear-gradient(0deg, #0d3f82 0%, #145d9a 100%)
  );
}

.startTripBtn,
.infoPanel .donateBtn {
  color: #f8f9fa;
  background: light-dark(
    linear-gradient(0deg, #82c91e 0%, #a9e34b 100%),
    linear-gradient(0deg, #40c057 0%, #2b8a3e 100%)
  );
}

.startTripBtn {
  opacity: 0.3;
  background: light-dark(
    linear-gradient(0deg, #33d9f8 0%, #2dc7f3 100%),
    linear-gradient(0deg, #145d9a 0%, #0d3f82 100%)
  );
  &:hover {
    opacity: 1;
    background: light-dark(
      linear-gradient(0deg, #82c91e 0%, #a9e34b 100%),
      linear-gradient(0deg, #40c057 0%, #2b8a3e 100%)
    );
  }
}
