.tripCard {
	cursor: pointer;
	transition: all 250ms ease;
	transform: scale(0.98);
	opacity: 0.8;
	&:hover {
		opacity: 1;
		box-shadow: 0 2px 5px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
		transform: scale(1);
	}
}
