div.chatBotCenter {
  z-index: 1800;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
}

div.chatBotModal {
  z-index: 1800;
  position: relative;
  width: 50vw;
  height: 100vh;
  padding: 20px 0px 60px 0px;
}

.chatBotMain {
  height: calc(100% - 135px);
  overflow: hidden;
}

.messagesArea {
  height: calc(100vh - 210px);
  mask-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.chatTextGrid {
  padding-bottom: 20px;
  overflow: hidden;
}

.assistantAvi {
  color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
  transform: rotate(15deg);
  margin: 17px 15px 0 0;
  opacity: 0.25;
  filter: drop-shadow(
    0px 2px 3px light-dark(rgba(12, 13, 14, 1), rgba(12, 13, 14, 0.7))
  );
}

.userAvi {
  color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
  margin: 20px 0 0 15px;
  opacity: 0.25;
  filter: drop-shadow(
    0px 2px 3px light-dark(rgba(12, 13, 14, 1), rgba(12, 13, 14, 0.7))
  );
}

.chatBotTextFrame {
  position: relative;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  overflow: visible;
  color: light-dark(#000, #fff);
  background-color: light-dark(rgba(248, 249, 250, 0.7), rgba(12, 13, 14, 0.7));
  backdrop-filter: blur(5px);
  filter: drop-shadow(
    0px 3px 5px light-dark(rgba(12, 13, 14, 0.4), rgba(12, 13, 14, 0.7))
  );
}

.chatBotTextFrame::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: light-dark(rgba(248, 249, 250, 0.7), rgba(12, 13, 14, 0.7));
  filter: blur(3px);
  z-index: -1;
}

.chatBotTextBotArrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 100%;
  top: 13px;
  border: 0.75rem solid transparent;
  border-left: none;
  border-right-color: light-dark(
    rgba(248, 249, 250, 0.7),
    rgba(12, 13, 14, 0.7)
  );
}

.chatBotTextUserArrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 100%;
  top: 15px;
  border: 0.75rem solid transparent;
  border-right: none;
  border-left-color: light-dark(
    rgba(248, 249, 250, 0.7),
    rgba(12, 13, 14, 0.7)
  );
  filter: drop-shadow(
    0px 3px 10px light-dark(rgba(12, 13, 14, 0.4), rgba(12, 13, 14, 0.7))
  );
}

p.chatBotText {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
  margin-left: 5px;
}

div.chatBotInputRoot {
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

textarea.chatBotTextInput {
  height: 135px;
  padding: 15px;
  width: 100%;
  box-shadow: 0px 3px 10px
    light-dark(rgba(12, 13, 14, 0.4), rgba(12, 13, 14, 0.7));
  background-color: light-dark(
    rgba(248, 249, 250, 0.95),
    rgba(12, 13, 14, 0.95)
  );
}

.keySubmit {
  z-index: 1800;
  position: absolute;
  transform: scale(0.7);
  top: 6px;
  right: 42px;
  pointer-events: none;
  opacity: 0.25;
  animation: keySubmit 500ms ease-in-out;
}

.keySubmitActive {
  opacity: 1;
}

.chatBotLink {
  color: light-dark(rgb(24, 108, 166), rgb(65, 253, 255));
  padding: 2px 0;
  text-decoration: none;
}

.chatLinkFrame {
  color: light-dark(rgb(24, 108, 166), rgb(65, 253, 255));
}

button.chatSendBtn {
  opacity: 1;
  box-shadow: 0px 3px 5px
    light-dark(rgba(233, 242, 248, 0.5), rgba(12, 13, 14, 0.5));
  background-color: light-dark(rgba(255, 255, 255), rgba(10, 10, 10));

  &:hover {
    opacity: 0.8;
  }
}

.chatSendIcon {
  color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
}

img.globeImg {
  z-index: 1900;
  transition: all 1000ms ease-in-out;
  cursor: pointer;
  position: absolute;
  bottom: 60px;
  right: 50px;
  max-width: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
}

@keyframes blrry {
  0% {
    filter: url("#morpho-customize") blur(1px) invert(0%) sepia(0%)
      saturate(100%) hue-rotate(0deg) brightness(96%) contrast(111%);
  }
  20% {
    filter: url("#morpho-customize") blur(2px) invert(16%) sepia(18%)
      saturate(421%) hue-rotate(0deg) brightness(117%) contrast(111%);
  }
  40% {
    filter: url("#morpho-customize") blur(3px) invert(32%) sepia(36%)
      saturate(742%) hue-rotate(0deg) brightness(138%) contrast(111%);
  }
  60% {
    filter: blur(2px) invert(48%) sepia(54%) saturate(1063%) hue-rotate(0deg)
      brightness(159%) contrast(111%);
  }
  80% {
    filter: blur(1px) invert(64%) sepia(72%) saturate(1384%) hue-rotate(0deg)
      brightness(180%) contrast(111%);
  }
  100% {
    filter: blur(0px) invert(78%) sepia(92%) saturate(1707%) hue-rotate(353deg)
      brightness(200%) contrast(111%);
  }
}

@keyframes blrry2 {
  0% {
    filter: url("#morpho-customize") blur(0px) invert(78%) sepia(92%)
      saturate(1707%) hue-rotate(353deg) brightness(200%) contrast(111%);
  }
  20% {
    filter: url("#morpho-customize") blur(1px) invert(64%) sepia(72%)
      saturate(1384%) hue-rotate(0deg) brightness(180%) contrast(111%);
  }
  40% {
    filter: url("#morpho-customize") blur(2px) invert(48%) sepia(54%)
      saturate(1063%) hue-rotate(0deg) brightness(159%) contrast(111%);
  }
  60% {
    filter: url("#morpho-customize") blur(3px) invert(32%) sepia(36%)
      saturate(742%) hue-rotate(0deg) brightness(138%) contrast(111%);
  }
  80% {
    filter: url("#morpho-customize") blur(2px) invert(16%) sepia(18%)
      saturate(421%) hue-rotate(0deg) brightness(117%) contrast(111%);
  }
  100% {
    filter: url("#morpho-customize") blur(1px) invert(0%) sepia(0%)
      saturate(100%) hue-rotate(0deg) brightness(96%) contrast(111%);
  }
}

img.globeImgActive {
  animation: blrry 1000ms ease-in-out;
  transform: scale(1.5) rotate(5deg);
  filter: invert(78%) sepia(92%) saturate(1707%) hue-rotate(353deg)
    brightness(96%) contrast(111%);
}

img.globeImgInactive {
  animation: blrry2 500ms ease-in-out;
  transform: scale(1.1) rotate(5deg);
  filter: url("#morpho-customize") brightness(200%) contrast(111%);
}

@keyframes computing {
  0% {
    filter: blur(0px) invert(78%) sepia(92%) saturate(1707%) hue-rotate(353deg)
      brightness(200%) contrast(111%);
  }
  100% {
    filter: blur(0px) invert(78%) sepia(92%) saturate(1707%) hue-rotate(0deg)
      brightness(100%) contrast(50%);
  }
}

img.globeImgComputing {
  animation: computing 200ms ease-in-out infinite;
  filter: invert(78%) sepia(92%) saturate(1707%) hue-rotate(360deg)
    brightness(96%) contrast(111%);
}

.chatBotFadeOverlay {
  filter: url("#chat-overlay");
  z-index: 1700;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: light-dark(rgba(248, 249, 250, 0.8), rgba(12, 13, 14, 1));
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
