img.globeImg {
  z-index: 1900;
  transition: all 1000ms ease-in-out;
  cursor: pointer;
  position: absolute;
  bottom: 60px;
  right: 50px;
  max-width: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
}

@keyframes blrry {
  0% {
    filter: url("#morpho-customize") blur(1px) invert(0%) sepia(0%)
      saturate(100%) hue-rotate(0deg) brightness(96%) contrast(111%);
  }
  20% {
    filter: url("#morpho-customize") blur(2px) invert(16%) sepia(18%)
      saturate(421%) hue-rotate(0deg) brightness(117%) contrast(111%);
  }
  40% {
    filter: url("#morpho-customize") blur(3px) invert(32%) sepia(36%)
      saturate(742%) hue-rotate(0deg) brightness(138%) contrast(111%);
  }
  60% {
    filter: blur(2px) invert(48%) sepia(54%) saturate(1063%) hue-rotate(0deg)
      brightness(159%) contrast(111%);
  }
  80% {
    filter: blur(1px) invert(64%) sepia(72%) saturate(1384%) hue-rotate(0deg)
      brightness(180%) contrast(111%);
  }
  100% {
    filter: blur(0px) invert(78%) sepia(92%) saturate(1707%) hue-rotate(353deg)
      brightness(200%) contrast(111%);
  }
}

@keyframes blrry2 {
  0% {
    filter: url("#morpho-customize") blur(0px) invert(78%) sepia(92%)
      saturate(1707%) hue-rotate(353deg) brightness(200%) contrast(111%);
  }
  20% {
    filter: url("#morpho-customize") blur(1px) invert(64%) sepia(72%)
      saturate(1384%) hue-rotate(0deg) brightness(180%) contrast(111%);
  }
  40% {
    filter: url("#morpho-customize") blur(2px) invert(48%) sepia(54%)
      saturate(1063%) hue-rotate(0deg) brightness(159%) contrast(111%);
  }
  60% {
    filter: url("#morpho-customize") blur(3px) invert(32%) sepia(36%)
      saturate(742%) hue-rotate(0deg) brightness(138%) contrast(111%);
  }
  80% {
    filter: url("#morpho-customize") blur(2px) invert(16%) sepia(18%)
      saturate(421%) hue-rotate(0deg) brightness(117%) contrast(111%);
  }
  100% {
    filter: url("#morpho-customize") blur(1px) invert(0%) sepia(0%)
      saturate(100%) hue-rotate(0deg) brightness(96%) contrast(111%);
  }
}

img.globeImgActive {
  animation: blrry 1000ms ease-in-out;
  transform: scale(1.5) rotate(5deg);
  filter: invert(78%) sepia(92%) saturate(1707%) hue-rotate(353deg)
    brightness(96%) contrast(111%);
}

img.globeImgInactive {
  animation: blrry2 500ms ease-in-out;
  transform: scale(1.1) rotate(5deg);
  filter: url("#morpho-customize") brightness(200%) contrast(111%);
}

div.chatBotCenter {
  z-index: 1800;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background-color: light-dark(rgba(248, 249, 250, 0.7), rgba(12, 13, 14, 0.8));
}

div.chatBotModal {
  z-index: 1800;
  position: relative;
  width: 50vw;
  height: 100vh;
  padding: 60px 0px;
}

.chatBotTitle {
  position: absolute;
  left: -5px;
  text-transform: uppercase;
  font-weight: 900;
  font-weight: 700;
}

.chatBotMain {
  height: calc(100% - 175px);
  margin-top: 40px;
  overflow: hidden;
  mask: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 95%,
    rgba(255, 255, 255, 0) 100%
  );
}

.chatBotTextFrame {
  padding: 15px 0px;
  border-radius: 3px;
}

.chatBotText {
  margin-top: 5px;
  margin-left: 5px;
}

textarea.chatBotTextInput {
  height: 135px;
  padding: 15px;
  width: 100%;
  margin-top: 20px;
  background-color: light-dark(
    rgba(248, 249, 250, 0.95),
    rgba(12, 13, 14, 0.95)
  );
  border-top: 1px solid
    light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.03));
}

.chatBotLink {
  color: light-dark(rgb(24, 108, 166), rgb(65, 253, 255));
  padding: 2px 0;
  text-decoration: none;
}

.chatLinkFrame {
  color: light-dark(rgb(24, 108, 166), rgb(65, 253, 255));
}

button.chatSendBtn {
  opacity: 1;
  box-shadow: 0px -3px 10px light-dark(rgba(233, 242, 248, 0.5), rgba(12, 13, 14, 0.5));
  background-color: light-dark(rgba(255, 255, 255), rgba(10, 10, 10));

  &:hover {
    opacity: 0.8;
  }
}

.chatSendIcon {
  color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
}
