.labelSize {
  font-size: 10px;
  opacity: 0.7;
  text-transform: uppercase;
}

.startLocaleInput {
  font-size: 15px;

  &::placeholder {
    font-size: 15px;
  }
}

.startLocaleOption {
  font-size: 15px;

  &[aria-selected="true"] {
    background: light-dark(rgba(100, 100, 100, 0.1), rgba(3, 3, 3, 0.4));
    color: light-dark(#000, #fff);
  }
}

.clearAutoCompleteBtn {
  opacity: 0.5;
  color: light-dark(#000, #fff);

  &:hover {
    opacity: 1;
    background: inherit;
  }
}

.travelersInput {
  font-weight: 700;
  font-size: 1.1rem;
  padding-right: 40px;
}

.travelersContorls {
  padding-right: 10px;
}

.switchThumb {
  @mixin dark {
    border-color: #262626;
    background: #282a2d;
  }
}

.switchTrack {
  box-shadow: 0px 2px 5px light-dark(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.2)) !important;
}

.datePicker {
  &[data-disabled="true"] {
    color: light-dark(rgba(219, 216, 216, 0.5), rgba(36, 36, 36, 0.5));
  }
  &[data-weekend="true"] {
    color: light-dark(#2dc7f3, #0d3f82);
  }
  &[data-selected="true"] {
    box-shadow: 0px 2px 5px
      light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
    text-shadow: light-dark(
      "0 2px 3px rgba(0,0,0,0.1)",
      "0 2px 3px rgba(0,0,0,1)"
    );
    border: 1px solid light-dark(#dee2e6, rgba(20, 20, 21, 0.3));
    border-top: 3px solid light-dark(#2dc7f3, #0d3f82);
    background-color: light-dark(#f8f9fa, #25252c);
    color: light-dark(#2dc7f3, #fff);
    transition: all 0.15s ease-in-out;
    border-radius: 0 0 3px 3px;
    font-size: 1.3rem;
    &:hover {
      transform: scale(1.05);
    }
  }
}
