div.colorBtnTooltip {
  background: light-dark(#fff, #141517);
  color: light-dark(#141517, #fff);
  border: 1px solid light-dark(#ececec, #1c1c1c);
}

div.colorBtnFrame {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1400;
}

button.toggleColorButton {
  background-color: light-dark(#fff, #141517);
  color: light-dark(#555, #fff);
  position: relative;
  width: 38px;
  margin: 10px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.introLayoutFlex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1200;
}

.introBg {
  backdrop-filter: blur(5px);
  flex-direction: column;
  background-color: light-dark(rgba(255, 255, 255, 0.6), rgba(2, 2, 2, 0.75));
  box-shadow: light-dark(
    3px 0 7px rgba(0, 0, 0, 0.1),
    inset 0 0 50px rgba(0, 0, 0, 0.1),
    3px 0 7px rgba(0, 0, 0, 0.5),
    inset 0 0 50px rgba(0, 0, 0, 0.2)
  );
}

.introFrame {
  border-radius: 3px;
  text-align: center;
  width: 80%;
  backdrop-filter: blur(10px);
  background: light-dark(rgba(255, 255, 255, 0.3), rgba(2, 2, 2, 0.35));
  border: light-dark(
    1px solid rgba(255, 255, 255, 0.03),
    1px solid rgba(0, 0, 0, 0.2)
  );
  box-shadow: light-dark(
    0 3px 7px rgba(0, 0, 0, 0.1),
    inset 0 0 50px rgba(0, 0, 0, 0.1),
    0 3px 7px rgba(0, 0, 0, 0.3),
    inset 0 0 50px rgba(0, 0, 0, 0.2)
  );
}

.introTitle {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  line-height: 1;
}

h1.loginTitle {
  font-size: 2.2rem;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

span.loginTitleThin {
  font-weight: 500 !important;
  color: light-dark(#7e7e7e, #adadad);
}

.introFrameDivider {
  width: 85%;
  --divider-color: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.1));
}

p.introText {
  opacity: 0.6;
  width: 85%;
  font-weight: 400;
  font-size: 0.85rem;
  color: light-dark(#000, #fff);
}

.loginCompFrame {
  position: relative;
  width: 80%;
  max-width: 380px;
}

.darkIcon,
.lightIcon {
  position: absolute;
  left: 0px;
  margin-left: -1px;
  opacity: 0;
  width: 38px;
}

.lightIcon {
  @mixin light {
    opacity: 1;
  }
}

svg.darkIcon {
  position: relative;

  @mixin dark {
    opacity: 1;
  }
}
.enterSiteIcon,
.infoIcon {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

a.enterSiteBtn,
a.infoButton {
  text-transform: uppercase;
}

a.infoButton {
  font-weight: 900;
  color: #fff;
  background-color: light-dark(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
}

a.enterSiteBtn {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
