.miniPopUp > div:nth-child(2),
.popup > div:nth-child(2) {
  /* Popup body */
  transition: all 200ms ease-in-out;
  max-width: 20rem;
  font-family: Montserrat;
  cursor: pointer;
  background: light-dark(rgba(248, 249, 250, 1), rgba(26, 28, 32, 1));
  color: light-dark(rgb(10, 11, 13), rgb(247, 249, 250));
  border-radius: 3px;
  padding: 2px;
}

.miniPopUp > div:nth-child(1),
.popup > div:nth-child(1) {
  /* Popup tip */
  border-top-color: light-dark(rgba(248, 249, 250, 1), rgba(26, 28, 32, 1));
}

.miniPopUp > div:nth-child(2) {
  font-weight: 700;
  padding: 0px;

  &:hover {
    transform: scale(1.1);
  }
}

.miniPopUp > * {
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

@keyframes popupAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.miniPopUp {
  animation: popupAnimation 250ms ease;
}

.popup {
  animation: popupAnimation 500ms ease;
}

.miniPopUpColor {
  color: #fff;
  opacity: 0.5;
}

.markerIconColor {
  color: light-dark(#49d8ff, #0d3f82);
}

.popupMenu {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 10px;
  margin: 0 5px;
}

.popupMenuBtn {
  color: light-dark(rgb(10, 11, 13), rgb(247, 249, 250));
  opacity: 0.5;

  &:hover {
    background-color: inherit;
    opacity: 1;
  }
}
