.popup > div:nth-child(2) {
	/* Popup body */
	max-width: 20rem;
	font-family: Montserrat;
	cursor: pointer;
	background-color: light-dark(rgb(247, 249, 250), rgb(10, 11, 13));
	color: light-dark(rgb(10, 11, 13), rgb(247, 249, 250));
	border-radius: 3px;
	padding: 0;
}

.popup > div:nth-child(1) {
	/* Popup tip */
	border-top-color: light-dark(rgb(247, 249, 250), rgb(10, 11, 13));
}

.popupMenu {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 10px;
	margin: 0 5px;
}

.popupMenuBtn {
	font-weight: 400;
	color: light-dark(rgb(10, 11, 13), rgb(247, 249, 250));
}

.destinationModal {
	background-color: transparent;
}

.destinationModalContent {
	background-color: light-dark(rgba(248, 249, 250, 0.95), #0b0c0d);
}

.destinationModalOverlay {
	background-color: light-dark(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5));
	backdrop-filter: blur(9px);
}

.loactionDrawer {
	box-shadow: none;
	overflow: hidden;
	background-color: light-dark(rgba(248, 249, 250, 0.7), rgba(12, 13, 14, 0.8));
}

.placeTitle {
	font-size: 0.8rem;
	text-transform: uppercase;
}

.placeAutoComplete {
	border: none;
	border-radius: 3px 3px 0 0;
}

.select,
.placeAutoComplete {
	background: light-dark(rgba(248, 249, 250, 0.7), rgba(12, 13, 14, 1));
	color: light-dark(rgba(14, 15, 18, 0.5), rgba(248, 249, 250, 0.5));

	&::placeholder {
		color: light-dark(rgba(14, 15, 18, 0.5), rgba(248, 249, 250, 0.5));
	}
}

.countryAutoComplete {
	border: none;
	border-top: 2px solid light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
	box-shadow: 0 2px 3px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
}

.countryAutoCompleteOption,
.placeAutoCompleteOption {
	&:hover {
		color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
		font-weight: 700;
		border-radius: 0;
	}

	&[data-combobox-selected="true"] {
		box-shadow: 0 2px 5px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
		background-color: light-dark(rgba(11, 12, 13, 0.05), rgba(248, 249, 250, 0.05));
		color: light-dark(rgb(11, 12, 13), rgb(248, 249, 250));
	}
}

.countryAutoCompleteDropdown {
	border-radius: 25px;
	background-color: light-dark(rgba(248, 249, 250, 0.9), rgba(11, 12, 13, 0.9));
}

.countryAutoCompleteOption {
	border-radius: 17px;
}

.placeAutoCompleteDropdown {
	border-radius: 3px;
	background-color: light-dark(rgba(248, 249, 250, 1), rgba(11, 12, 13, 1));
}

.placeAutoCompleteOption {
	border-radius: 3px;
}

.topCitiesLink {
	transition: all 200ms ease-in-out;
	background: light-dark(rgba(248, 249, 250, 0.7), rgba(12, 13, 14, 1));

	&:hover {
		background: light-dark(rgba(248, 249, 250, 1), rgba(14, 15, 18, 1));
		transform: scale(1.05) translateX(7px);
	}
}

.clearListButton {
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}

.tourListButton {
	position: absolute;
	top: 120px;
	padding: 0 8px;
	z-index: 120;
	opacity: 1;
	border-radius: 0 3px 3px 0;
	transition: left 100ms ease !important;
	background-color: light-dark(rgba(248, 249, 250, 0.95), rgba(12, 13, 14, 0.95));
	border-top: 1px solid light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.02));
	border-right: 1px solid light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.02));
	border-bottom: 1px solid light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.02));
	&:hover {
		padding-left: 12px;
	}
}

.miniMapPin {
	transition: all 100ms ease-in-out;
	cursor: pointer;
	opacity: 0.7;
	transform: scale(1.7);
	color: #fff;
	&:hover {
		opacity: 1;
		transform: scale(2);
	}
}

.toolTip {
	background: light-dark(#fff, #141517);
	color: light-dark(#141517, #fff);
	border: 1px solid light-dark(#ececec, #1c1c1c);
}

.select {
	border-radius: 0 0 3px 3px;
	outline: none;
	border: none;
}

.placeBtns {
	box-shadow: 0px 2px 3px light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.01));
	border-radius: 3px;
}

.chooseLocationBox {
	border-radius: 3px;
	box-shadow: 0px 2px 3px light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.01));
}

.locationBtns {
	font-weight: 100;
	background: light-dark(rgba(248, 249, 250, 0.7), rgba(12, 13, 14, 0.95));
	color: light-dark(rgba(14, 15, 18, 0.5), rgba(248, 249, 250, 0.5));

	&:hover {
		background: light-dark(rgba(248, 249, 250, 1), rgba(14, 15, 18, 1));
		color: light-dark(rgba(14, 15, 18, 1), rgba(248, 249, 250, 1));
	}
}

.closeBtn {
	box-shadow: 0 2px 5px light-dark(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));
	transition: all 300ms ease;
	font-weight: 700;
	opacity: 0.8;
	&:hover {
		opacity: 1;
		color: #fff;
		transform: scale(1.01);
	}
}
