.costInput {
  border: none;
  text-align: right;
  font-weight: 700;
  background-color: light-dark(
    rgba(248, 249, 250, 0.9),
    rgba(100, 100, 100, 0.02)
  );
  box-shadow: 0 1px 3px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

.removeCostButton {
  border: 1px solid
    light-dark(rgba(100, 100, 100, 0.1), rgba(204, 204, 204, 0.02));
  background-color: light-dark(
    rgba(248, 249, 250, 0.9),
    rgba(100, 100, 100, 0.02)
  );
  transition: all 150ms ease-in-out;
  opacity: light-dark(0.2, 0.7);
  &:hover {
    opacity: 1;
  }
}

.newCostBtn,
.resetCostCalcBtn {
  opacity: light-dark(0.3, 0.1);

  &:hover {
    opacity: 1;
  }
}

.newCostBtn {
  transition: all 250ms ease-in-out;
}

.resetCostCalcBtn {
  transition: all 500ms ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }
}
