.link {
	border-radius: var(--mantine-radius-sm);
	display: block;
	text-decoration: none;
	line-height: 2.4rem;
	font-size: var(--mantine-font-size-sm);
	height: 2.4rem;
	color: light-dark(#000, #c1c2c5);

	&:hover {
		background-color: light-dark(#f8f9fa, #0b0c0d);
	}
}

.links {
	position: relative;
}

.indicator {
	color: light-dark(#33d9f8, #0d3f82);
	transition: transform 150ms ease;
	position: absolute;
	top: 10px;
	left: -20px;
}
