.labelSize {
  font-size: 12px;
}

.timelineItem {
  transition: all 2000ms ease-in-out;
}

.timelineTitle {
  text-transform: uppercase;
  font-size: 12px;
}

.brightenButton {
  transition: all 150ms ease-in-out;
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
}

.tripTitleInput {
  border: none !important;
  outline: none !important;
  box-shadow: 0px 2px 3px
    light-dark(rgba(0, 0, 0, 0.02), rgba(100, 100, 100, 0.01));
  border: 1px solid light-dark(rgba(0, 0, 0, 0.02), rgba(255, 255, 255, 0.02));
  background: light-dark(#e9ecef, #0b0d0d);
  &::placeholder {
    font-weight: 700;
    font-style: italic;
  }
}

.panelBtns {
  opacity: 0.4;
  background: light-dark(#2dc7f3, #020202);

  &:hover {
    opacity: 0.8;
  }
}

.tripInformationBtn {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.badge {
  border: none;
}

.divider {
  color: light-dark(var(--mantine-color-dark-1), var(--mantine-color-gray-7));
}

.stepperIcon {
  overflow: hidden;
  color: light-dark(#2dc7f3, #0d3f82);

  &[data-progress="true"] {
    border-color: light-dark(#2dc7f3, #0d3f82);
  }
}

.stepperCompleteIcon {
  background-color: light-dark(#2dc7f3, #0d3f82);
}
