.comboBoxOption {
  &[data-combobox-selected="true"] {
    &:hover {
      color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
      font-weight: 700;
    }

    &[data-combobox-selected="true"] {
      box-shadow: 0 2px 5px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
      background-color: light-dark(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.5));
      color: light-dark(rgb(11, 12, 13), rgb(248, 249, 250));
    }
  }
}

label.labelSize {
  font-size: 10px;
  opacity: 0.7;
  text-transform: uppercase;
}

div.multiRoot input {
  height: 0px;
  font-size: 13px;
  background: inherit;
  box-shadow: none;

  &::placeholder {
    font-size: 13px;
  }
}

.multiDesc {
  font-size: 10px;
  text-align: right;
}

.singleLine {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  padding-top: 7px;
}

.multiDots {
  color: light-dark(#bababa, #000);
  border-radius: 25px;
  padding: 0px;
}
