.divider {
  border-color: light-dark(#000, #fff);
  color: light-dark(#000, #fff);
}

.labelSize {
  font-size: 12px;
}

.brightenButton {
  transition: all 150ms ease-in-out;
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
}

.tripTitleInput {
  border: none !important;
  outline: none !important;
  box-shadow: 0px 2px 3px
    light-dark(rgba(0, 0, 0, 0.02), rgba(100, 100, 100, 0.01));
  border: 1px solid light-dark(rgba(0, 0, 0, 0.02), rgba(255, 255, 255, 0.02));
  background: light-dark(#e9ecef, #0b0d0d);
  &::placeholder {
    font-weight: 700;
    font-style: italic;
  }
}

.panelBtns {
  opacity: 0.4;
  background: light-dark(#dededf, #020202);
  color: light-dark(#000, #fff);

  &:hover {
    opacity: 0.8;
  }
}

.tripInformationBtn {
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 12px;

  &:hover {
    opacity: 1;
  }
}

.badge {
  border: none;
  background-color: transparent;
}

.stepperIcon {
  transition: all 500ms ease-in-out;
  padding-top: 2px;
  border-radius: 25px;
  overflow: hidden;
  border-width: 0px;
  border-color: light-dark(#2dc7f3, rgba(13, 63, 130, 1));
  font-size: 15px;
  color: light-dark(#fff, #444);
  box-shadow: 0 2px 2px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  text-shadow: 0 2px 2px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));

  &[data-completed="true"],
  &[data-progress="true"] {
    color: #fff;
    background: light-dark(#2dc7f3, rgba(13, 63, 130, 1));
  }

  &[data-progress="true"] {
    border-width: 2px;
    color: light-dark(#2dc7f3, rgba(13, 63, 130, 1));
    background: light-dark(#f0f4f6, #101113);
  }
}

.verticalSeparator {
  border-color: light-dark(rgba(43, 199, 243, 0.2), rgb(13, 63, 130, 0.2));

  &[data-active="true"] {
    border-color: light-dark(#2dc7f3, #0d3f82);
  }
}

.stepperCompleteIcon {
  background-color: light-dark(#2dc7f3, #0d3f82);
}

.tripDetailsCloseBtn {
  opacity: 0.2;
  transform: scale(0.8);

  &:hover {
    opacity: 1;
    transform: scale(1);
  }
}

.plannerTripTitleInput {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-6)
  );
}
