.mainMenu {
  position: fixed;
  z-index: 1600;
  width: 100%;
  display: flex;
  padding: 15px 25px;
  align-items: flex-start;
  justify-content: space-between;
  pointer-events: none;
}

.logoutButton {
  opacity: 0.35;

  &:hover {
    background-color: inherit;
    opacity: 1;
  }
}

.infoButton {
  transition: all 400ms ease;
  opacity: 0.35;
  cursor: pointer;
  box-shadow: 0 2px 3px 2px
    light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.05));

  &:hover {
    opacity: 1;
  }
}
